h2 {
    font-family: "Old English Text MT";
}

label {
    font-family: "Century Schoolbook";
    width: 400px;
    display: flex;
}

input {
    padding: 15px;
    font-family: "Arial Rounded MT Bold";
    border: 3px solid black;
    background-color: whitesmoke;
    break-after: right;
    font-size: 20px;
    align-content: center;
    margin-right: auto;
    border-radius: 15px;
}

#form-container {
    background-color: sandybrown;
    padding: 20px;
    border-radius: 20px;
    width: fit-content;

}
body{

    justify-content: center;
    margin: 0;
    padding: 0;
    align-content: center;
    height: fit-content;
}